# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
/.idea/
/.idea/*
!/idea/codeStyles

# 编译输出
/out/
target/
build/

# 操作系统文件
.DS_Store
Thumbs.db

# 开发环境配置文件（如包含敏感信息的 YAML）
sky-server/target/classes/application-dev.yml
